.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.imgCol {
  max-width: 300px;
  max-height: 600px;
  flex: 1 2 300px;
  margin: 15px 25px;
  border-radius: 15px;
}

.textCol {
  /* max-width: 80%; */
  flex: 1 2 300px;
  margin: 15px 25px;
  font-size: 1.5rem;
}

.firsItem {
  margin-top: 0;
}

.overview {
  text-align: justify;
}

.trailerTitle {
    text-align: center;
    font-size: 2.5rem;
}

.trailerSection {
  display: flex;
  justify-content: center;
  padding: 0 10% 10% 10%;
}

.trailerContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
