.header {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 2rem 0;
}

.title {
  text-align: center;
  font-size: 5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #15318bb6,
    0 0 40px #0f228d, 0 0 50px #4c54c4, 0 0 60px #0c0fa1, 0 0 70px #0e289e;
  max-width: max-content;
  max-height: max-content;
}
