.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.noMoviesText {
    text-align: center;
    margin: 100px 20px 0px 20px;
}

@media (max-width:560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}