.movieCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.movieCard:hover {
    opacity: .8;
}

.movieImage {
    border-radius: 10px;
    background-color: azure;
}

@media (max-width:560px) {
    .movieImage {
        width: 100%;
        height: auto;
    }
}