.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchInput {
    font-size: 1.2rem;
    height: 35px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid white;
}

.searchInput:focus {
    outline: none;
    border: 1px solid rgb(15, 42, 161);
    box-shadow: 0 0 5px rgb(15, 42, 161);
}

.searchBtn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}